
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/roboto slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}



@font-face {
  font-family: 'IntroBlackAlt';
  src: url('../assets/fonts/Intro/Intro Black Alt.otf') format('opentype'); /* Относительный путь к шрифту */
  font-weight: normal;
  font-style: normal;
}